---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
---
<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html>
<head>
    <title>Astro Lunch</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Kom luisteren naar de nieuwe album ‘Hello, World!’ van Astro Lunch en bezoek hun aanstaande Europese tournee!">
    <meta charset="UTF-8">
</head>
  <body class='p-4 prose'>
    <h1>Hello, World!</h1>
    <p>*Astro Lunch: de indie rock band uit Rotterdam die je niet wilt missen!</p>
    <p>Astro Lunch is een nieuwe band die bestaat uit zanger Ruben Rouwzang, gitarist Hans Steelpan en drummer Frank Rammer. Met hun nieuwe album "Hello, World!" hebben ze zichzelf op de kaart gezet en een goede naam opgebouwd in het nationale clubcircuit. Nu staan ze aan het begin van een Europese toernee en er lijkt geen maat te staan op het succes van deze band.*
    </p>
    <Picture
          src='../assets/images/band.jpeg'
          widths={[200, 400, 800]}
          sizes="(max-width: 800px) 100vw, 800px"
          aspectRatio={1}
          formats={['webp']}
          alt="Band"
        />
    <p>Afgelopen weekend speelde Astro Lunch in Paradiso, Amsterdam en het publiek was laaiend enthousiast. Zelfs het Amsterdamse publiek, dat bekend staat om hun kritische houding, gaf een ovationeel applaus en er werden wel drie toegiften gegeven. Het was een avond om nooit te vergeten en het bewijst maar weer eens dat Astro Lunch een band is om in de gaten te houden.*
    </p>
    <p>Het album "Hello, World!" is een mix van catchy gitaarriffs, pakkende teksten en onweerstaanbare beats. Het is een album dat je direct meevoert naar de wereld van Astro Lunch en je niet meer loslaat. Nummers als "Lost in Translation", "Where's my salad?" en "Friday Night in Rotterdam" laten zien waarom deze band zo geliefd is bij het publiek.
    </p>
    <img src="../assets/images/album.jpeg" />
    <p>Astro Lunch is niet zomaar een band, het is een ervaring. Met hun energieke podiumpresentatie en onweerstaanbare muziek weten ze het publiek keer op keer te betoveren. Of je nou fan bent van indie rock of gewoon op zoek bent naar een leuke avond uit, Astro Lunch is de band die je niet wilt missen!
    </p>
    <p>Komende maand zijn ze te vinden in verschillende steden in Europa, dus zorg dat je erbij bent en beleef de magie van Astro Lunch zelf!*
    </p>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>